.container {
  display: flex;
  height: 120px;
  font-size: 1.5em;
}

@media screen and (min-width: 480px) {
  .container {
    font-size: 2em;
  }
}
@media screen and (min-width: 768px) {
  .container {
    height: 30%;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    font-size: 3em;
  }
}
