.container {
  color: white;
  overflow-y: scroll;
  width: 55%;
  padding: 10px 15px;
  height: 100%;
  background: #285068;
  border: solid 4px #ceb46d;
  text-shadow: 1px 1px 3px rgb(119, 119, 119);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 15px 20px;
    border: solid 5px #ceb46d;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 20px 30px;
    border: solid 6px #ceb46d;
  }
}
