.container img {
  position: absolute;
  width: 120px;
}
.userSprite {
  bottom: 20%;
  left: 15%;
}
.enemySprite {
  top: 25%;
  right: 15%;
}
.static > img {
  transform: translateX(0px);
  transform: translateY(0px);
  transition: 0.5s;
}
.fight > .userSprite {
  transition: 0.1s;
  transform: translateX(10%) translateY(-10%);
}
.fight > .enemySprite {
  transition: 0.1s;
  transform: translateX(-10%) translateY(10%);
}
.damage > img {
  opacity: 1;
  animation: flash 0.3s 0.3s infinite;
}
@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (min-width: 480px) {
  .container img {
    width: 120px;
  }
  .userSprite {
    bottom: 15%;
    left: 20%;
  }
  .enemySprite {
    top: 20%;
    right: 20%;
  }
}
@media screen and (min-width: 768px) {
  .container img {
    width: 100px;
  }
  .userSprite {
    bottom: 10%;
    left: 25%;
  }
  .enemySprite {
    top: 20%;
    right: 25%;
  }
}
@media screen and (min-width: 1024px) {
  .container img {
    width: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .container img {
    width: 140px;
  }
}
