.container {
  position: relative;
  width: 100%;
  height: 50%;
  max-width: 550px;
}
.container img {
  position: absolute;
  width: 120px;
  z-index: -2;
}
.userSprite {
  bottom: 15%;
  left: 5%;
}
.enemySprite {
  bottom: 0%;
  right: 5%;
}
.static > img {
  transform: translateX(0px);
  transform: translateY(0px);
  transition: 0.5s;
}
.fight > .userSprite {
  transition: 0.1s;
  transform: translateX(10%) translateY(-10%);
}
.fight > .enemySprite {
  transition: 0.1s;
  transform: translateX(-10%) translateY(10%);
}
.damage > img {
  opacity: 1;
  animation: flash 0.3s 0.3s infinite;
}
@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.sendBack > img {
  transform-origin: bottom;
  animation: shrink 0.5s ease-in-out forwards;
}
@keyframes shrink {
  to {
    opacity: 0;
    transform: scale(0);
  }
}
.sendOut > img {
  transform-origin: bottom;
  animation: grow 0.5s ease-in-out forwards;
}
@keyframes grow {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (min-width: 480px) {
  .userSprite {
    bottom: 25%;
    left: 10%;
  }
  .enemySprite {
    right: 10%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: none;
  }
  .container img {
    width: 100px;
  }
  .userSprite {
    bottom: 10%;
    left: 25%;
  }
  .enemySprite {
    right: 25%;
  }
}
@media screen and (min-width: 1024px) {
  .container img {
    width: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .container img {
    width: 140px;
  }
}
