.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.battleContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url("/assets/img/battle-background.jpg");
  background-size: cover;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
    height: 480px;
    border: 5px solid black;
    border-radius: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 900px;
    height: 600px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1080px;
    height: 720px;
  }
}
