.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  max-height: 350px;
  overflow-y: scroll;
  border: solid 4px #6f677f;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 150px;
  cursor: pointer;
}
.card img {
  height: 70px;
}
.editContainer {
  display: flex;
  flex-direction: column;
  width: 95%;
  border: solid 4px #6f677f;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  font-size: 0.8em;
}
.top {
  display: flex;
  flex-direction: column;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.cardContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.level {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.statsTable {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  width: 90%;
  margin: 10px 0px;
}
.statsTable > tbody {
  display: table-row-group;
  vertical-align: middle;
}
tbody > .statRow {
  border-top: 2px solid #f0f0f0;
}
tfoot > .statRow {
  border-top: 2px solid #f0f0f0;
}
.statRow {
  display: table-row;
}
.statRow > th {
  display: table-cell;
  text-align: right;
}
.statRow > td {
  margin: 5px 0px;
  padding-left: 10px;
}
.bar {
  width: 100%;
}
.bar > div {
  border-radius: 5px;
  border: 1px solid #737373;
  border-color: rgba(0, 0, 0, 0.15);
}
.numInput {
  display: flex;
  text-align: center;
  gap: 10px;
}
.numInput > input {
  border: none;
  text-align: center;
  border-bottom: 2px solid #d9d9d9;
  width: 40px;
  font-size: 0.8em;
}
.numInput > div {
  user-select: none;
  cursor: pointer;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px 0px;
}
.moveContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 10px 0px;
  overflow-y: scroll;
}
.moveOption:last-child {
  border-bottom: 2px solid #d9d9d9;
}
.moveOption {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border-top: 2px solid #d9d9d9;
  cursor: pointer;
}
.bottom {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}
.button {
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: green;
  cursor: pointer;
}
.disabled {
  cursor: default;
  background-color: rgb(211, 211, 211);
}

@media screen and (min-width: 768px) {
  .editContainer {
    width: 80%;
  }
  .top {
    flex-direction: row;
  }
}
